/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.scrollbutton {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40%;
    background-color: #1b5490;
    color: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}

.scrollbutton:hover {
    background-color: #2d6418;
    color: white;
    font-size: 20px;
    padding: 20px;
}

